<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.h.dao.BankMapper">
  <resultMap id="BaseResultMap" type="com.ht.h.bean.Bank">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="baccount" jdbcType="VARCHAR" property="baccount" />
    <result column="bcardnumber" jdbcType="VARCHAR" property="bcardnumber" />
    <result column="btime" jdbcType="TIMESTAMP" property="btime" />
    <result column="bstate" jdbcType="VARCHAR" property="bstate" />
  </resultMap>
  <sql id="Base_Column_List">
    bid, uid, baccount, bcardnumber, btime, bstate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bank
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bank
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.h.bean.Bank">
    insert into bank (bid, uid, baccount, 
      bcardnumber, btime, bstate
      )
    values (#{bid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{baccount,jdbcType=VARCHAR}, 
      #{bcardnumber,jdbcType=VARCHAR}, #{btime,jdbcType=TIMESTAMP}, #{bstate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.h.bean.Bank">
    insert into bank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="baccount != null">
        baccount,
      </if>
      <if test="bcardnumber != null">
        bcardnumber,
      </if>
      <if test="btime != null">
        btime,
      </if>
      <if test="bstate != null">
        bstate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="baccount != null">
        #{baccount,jdbcType=VARCHAR},
      </if>
      <if test="bcardnumber != null">
        #{bcardnumber,jdbcType=VARCHAR},
      </if>
      <if test="btime != null">
        #{btime,jdbcType=TIMESTAMP},
      </if>
      <if test="bstate != null">
        #{bstate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.h.bean.Bank">
    update bank
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="baccount != null">
        baccount = #{baccount,jdbcType=VARCHAR},
      </if>
      <if test="bcardnumber != null">
        bcardnumber = #{bcardnumber,jdbcType=VARCHAR},
      </if>
      <if test="btime != null">
        btime = #{btime,jdbcType=TIMESTAMP},
      </if>
      <if test="bstate != null">
        bstate = #{bstate,jdbcType=VARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.h.bean.Bank">
    update bank
    set uid = #{uid,jdbcType=INTEGER},
      baccount = #{baccount,jdbcType=VARCHAR},
      bcardnumber = #{bcardnumber,jdbcType=VARCHAR},
      btime = #{btime,jdbcType=TIMESTAMP},
      bstate = #{bstate,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>