<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.h.dao.CapitalMapper">
  <resultMap id="BaseResultMap" type="com.ht.h.bean.Capital">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="allasset" jdbcType="DECIMAL" property="allasset" />
    <result column="income" jdbcType="DECIMAL" property="income" />
    <result column="expenditure" jdbcType="DECIMAL" property="expenditure" />
    <result column="collect" jdbcType="DECIMAL" property="collect" />
    <result column="available" jdbcType="DECIMAL" property="available" />
    <result column="frozen" jdbcType="DECIMAL" property="frozen" />
    <result column="still" jdbcType="DECIMAL" property="still" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
  </resultMap>
  
  <resultMap id="uid,username"  type="com.ht.h.bean.Customer">
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
   </resultMap>
  <sql id="Base_Column_List">
    cid, uid, allasset, income, expenditure, collect, available, frozen, still, ctime
  </sql>
  
  
  <select id="selectAll" parameterType="Map" resultMap="BaseResultMap">
		select ca.*,cu.uid,cu.username from capital ca, customer cu where ca.uid=cu.uid
		<if test="username!=null and username!='' ">
			and cu.username like #{username}
		</if>
		order by ctime desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Long">
        select count(*) from capital
    </select>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    	from capital where cid = #{cid,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey2" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from capital
    where uid = #{uid,jdbcType=INTEGER}
	</select>
  
   <select id="selectByFund" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    	select c.available,c.income from capital c where c.uid=#{uid,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from capital
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.h.bean.Capital">
    insert into capital (cid, uid, allasset, 
      income, expenditure, collect, 
      available, frozen, still, 
      ctime)
    values (#{cid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{allasset,jdbcType=DECIMAL}, 
      #{income,jdbcType=DECIMAL}, #{expenditure,jdbcType=DECIMAL}, #{collect,jdbcType=DECIMAL}, 
      #{available,jdbcType=DECIMAL}, #{frozen,jdbcType=DECIMAL}, #{still,jdbcType=DECIMAL}, 
      #{ctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.h.bean.Capital">
    insert into capital
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="allasset != null">
        allasset,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="expenditure != null">
        expenditure,
      </if>
      <if test="collect != null">
        collect,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="frozen != null">
        frozen,
      </if>
      <if test="still != null">
        still,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="allasset != null">
        #{allasset,jdbcType=DECIMAL},
      </if>
      <if test="income != null">
        #{income,jdbcType=DECIMAL},
      </if>
      <if test="expenditure != null">
        #{expenditure,jdbcType=DECIMAL},
      </if>
      <if test="collect != null">
        #{collect,jdbcType=DECIMAL},
      </if>
      <if test="available != null">
        #{available,jdbcType=DECIMAL},
      </if>
      <if test="frozen != null">
        #{frozen,jdbcType=DECIMAL},
      </if>
      <if test="still != null">
        #{still,jdbcType=DECIMAL},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.h.bean.Capital">
    update capital
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="allasset != null">
        allasset = #{allasset,jdbcType=DECIMAL},
      </if>
      <if test="income != null">
        income = #{income,jdbcType=DECIMAL},
      </if>
      <if test="expenditure != null">
        expenditure = #{expenditure,jdbcType=DECIMAL},
      </if>
      <if test="collect != null">
        collect = #{collect,jdbcType=DECIMAL},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=DECIMAL},
      </if>
      <if test="frozen != null">
        frozen = #{frozen,jdbcType=DECIMAL},
      </if>
      <if test="still != null">
        still = #{still,jdbcType=DECIMAL},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.h.bean.Capital">
    update capital
    set uid = #{uid,jdbcType=INTEGER},
      allasset = #{allasset,jdbcType=DECIMAL},
      income = #{income,jdbcType=DECIMAL},
      expenditure = #{expenditure,jdbcType=DECIMAL},
      collect = #{collect,jdbcType=DECIMAL},
      available = #{available,jdbcType=DECIMAL},
      frozen = #{frozen,jdbcType=DECIMAL},
      still = #{still,jdbcType=DECIMAL},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectByid" resultType="java.lang.String" parameterType="java.lang.Integer" >
    select 
   		cid
    from Capital
    where uid = #{uid,jdbcType=INTEGER}
  </select>
</mapper>