<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.h.dao.ExpenditureMapper">
  <resultMap id="BaseResultMap" type="com.ht.h.bean.Expenditure">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="etype" jdbcType="VARCHAR" property="etype" />
    <result column="emoney" jdbcType="DECIMAL" property="emoney" />
    <result column="etime" jdbcType="TIMESTAMP" property="etime" />
    <result column="eremarks" jdbcType="VARCHAR" property="eremarks" />
  </resultMap>
  
  <resultMap id="queryResultMap" type="com.ht.h.bean.Expenditure">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="etype" jdbcType="VARCHAR" property="etype" />
    <result column="emoney" jdbcType="DECIMAL" property="emoney" />
    <result column="etime" jdbcType="TIMESTAMP" property="etime" />
    <result column="eremarks" jdbcType="VARCHAR" property="eremarks" />
    
    <association property="customer" javaType="com.ht.h.bean.Customer">
	    <result property="uid" column="uid"/>
		<result property="username" column="username"/>
		<result property="realname" column="realname"/>
	</association>
  </resultMap>
  
  <sql id="Base_Column_List">
    eid, uid, etype, emoney, etime, eremarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from expenditure
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from expenditure
    where eid = #{eid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.h.bean.Expenditure">
    insert into expenditure (eid, uid, etype, 
      emoney, etime, eremarks
      )
    values (#{eid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{etype,jdbcType=VARCHAR}, 
      #{emoney,jdbcType=DECIMAL}, #{etime,jdbcType=TIMESTAMP}, #{eremarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.h.bean.Expenditure">
    insert into expenditure
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eid != null">
        eid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="etype != null">
        etype,
      </if>
      <if test="emoney != null">
        emoney,
      </if>
      <if test="etime != null">
        etime,
      </if>
      <if test="eremarks != null">
        eremarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eid != null">
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="etype != null">
        #{etype,jdbcType=VARCHAR},
      </if>
      <if test="emoney != null">
        #{emoney,jdbcType=DECIMAL},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=TIMESTAMP},
      </if>
      <if test="eremarks != null">
        #{eremarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.h.bean.Expenditure">
    update expenditure
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="etype != null">
        etype = #{etype,jdbcType=VARCHAR},
      </if>
      <if test="emoney != null">
        emoney = #{emoney,jdbcType=DECIMAL},
      </if>
      <if test="etime != null">
        etime = #{etime,jdbcType=TIMESTAMP},
      </if>
      <if test="eremarks != null">
        eremarks = #{eremarks,jdbcType=VARCHAR},
      </if>
    </set>
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.h.bean.Expenditure">
    update expenditure
    set uid = #{uid,jdbcType=INTEGER},
      etype = #{etype,jdbcType=VARCHAR},
      emoney = #{emoney,jdbcType=DECIMAL},
      etime = #{etime,jdbcType=TIMESTAMP},
      eremarks = #{eremarks,jdbcType=VARCHAR}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  
  <!-- 分页加条件查询 -->
	<select id="queryAll" parameterType="Map" resultMap="queryResultMap">
		select e.*,cu.uid,cu.username,cu.realname from expenditure e,customer cu
		<where>
			e.uid=cu.uid
			<if test="username!=null and username!='' ">
				and cu.username like #{username}
			</if>
			<if test="etype!=null and etype!='' ">
				and e.etype like #{etype}
			</if>
		</where>
		order by e.etime desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<!-- 查询收入总条数 -->
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from expenditure e,customer cu
		<where>
			e.uid=cu.uid
			<if test="username!=null and username!='' ">
				and cu.username like #{username}
			</if>
			<if test="etype!=null and etype!='' ">
				and e.etype like #{etype}
			</if>
		</where>
	</select>
</mapper>