<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.h.dao.LoanMapper">
  <resultMap id="BaseResultMap" type="com.ht.h.bean.Loan">
    <id column="lid" jdbcType="INTEGER" property="lid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="ltitle" jdbcType="VARCHAR" property="ltitle" />
    <result column="lmoney" jdbcType="DECIMAL" property="lmoney" />
    <result column="lrate" jdbcType="DECIMAL" property="lrate" />
    <result column="lterm" jdbcType="INTEGER" property="lterm" />
    <result column="ltype" jdbcType="VARCHAR" property="ltype" />
    <result column="lstate" jdbcType="VARCHAR" property="lstate" />
    <result column="ltime" jdbcType="TIMESTAMP" property="ltime" />
  </resultMap>
  
  <resultMap id="queryResultMap" type="com.ht.h.bean.Loan">
    <id column="lid" jdbcType="INTEGER" property="lid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="ltitle" jdbcType="VARCHAR" property="ltitle" />
    <result column="lmoney" jdbcType="DECIMAL" property="lmoney" />
    <result column="lrate" jdbcType="DECIMAL" property="lrate" />
    <result column="lterm" jdbcType="INTEGER" property="lterm" />
    <result column="ltype" jdbcType="VARCHAR" property="ltype" />
    <result column="lstate" jdbcType="VARCHAR" property="lstate" />
    <result column="ltime" jdbcType="TIMESTAMP" property="ltime" />
    
    <association property="customer" javaType="com.ht.h.bean.Customer">
	    <result property="uid" column="uid"/>
		<result property="username" column="username"/>
		<result property="realname" column="realname"/>
	</association>
  </resultMap>
  
  <sql id="Base_Column_List">
    lid, uid, ltitle, lmoney, lrate, lterm, ltype, lstate, ltime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from loan
    where lid = #{lid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from loan
    where lid = #{lid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.h.bean.Loan">
    insert into loan (lid, uid, ltitle, 
      lmoney, lrate, lterm, 
      ltype, lstate, ltime
      )
    values (#{lid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{ltitle,jdbcType=VARCHAR}, 
      #{lmoney,jdbcType=DECIMAL}, #{lrate,jdbcType=DECIMAL}, #{lterm,jdbcType=INTEGER}, 
      #{ltype,jdbcType=VARCHAR}, #{lstate,jdbcType=VARCHAR}, #{ltime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.h.bean.Loan">
    insert into loan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lid != null">
        lid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="ltitle != null">
        ltitle,
      </if>
      <if test="lmoney != null">
        lmoney,
      </if>
      <if test="lrate != null">
        lrate,
      </if>
      <if test="lterm != null">
        lterm,
      </if>
      <if test="ltype != null">
        ltype,
      </if>
      <if test="lstate != null">
        lstate,
      </if>
      <if test="ltime != null">
        ltime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lid != null">
        #{lid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="ltitle != null">
        #{ltitle,jdbcType=VARCHAR},
      </if>
      <if test="lmoney != null">
        #{lmoney,jdbcType=DECIMAL},
      </if>
      <if test="lrate != null">
        #{lrate,jdbcType=DECIMAL},
      </if>
      <if test="lterm != null">
        #{lterm,jdbcType=INTEGER},
      </if>
      <if test="ltype != null">
        #{ltype,jdbcType=VARCHAR},
      </if>
      <if test="lstate != null">
        #{lstate,jdbcType=VARCHAR},
      </if>
      <if test="ltime != null">
        #{ltime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.h.bean.Loan">
    update loan
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="ltitle != null">
        ltitle = #{ltitle,jdbcType=VARCHAR},
      </if>
      <if test="lmoney != null">
        lmoney = #{lmoney,jdbcType=DECIMAL},
      </if>
      <if test="lrate != null">
        lrate = #{lrate,jdbcType=DECIMAL},
      </if>
      <if test="lterm != null">
        lterm = #{lterm,jdbcType=INTEGER},
      </if>
      <if test="ltype != null">
        ltype = #{ltype,jdbcType=VARCHAR},
      </if>
      <if test="lstate != null">
        lstate = #{lstate,jdbcType=VARCHAR},
      </if>
      <if test="ltime != null">
        ltime = #{ltime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where lid = #{lid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.h.bean.Loan">
    update loan
    set uid = #{uid,jdbcType=INTEGER},
      ltitle = #{ltitle,jdbcType=VARCHAR},
      lmoney = #{lmoney,jdbcType=DECIMAL},
      lrate = #{lrate,jdbcType=DECIMAL},
      lterm = #{lterm,jdbcType=INTEGER},
      ltype = #{ltype,jdbcType=VARCHAR},
      lstate = #{lstate,jdbcType=VARCHAR},
      ltime = #{ltime,jdbcType=TIMESTAMP}
    where lid = #{lid,jdbcType=INTEGER}
  </update>
  
  	<!-- 分页加条件查询 -->
	<select id="queryAll" parameterType="Map" resultMap="queryResultMap">
		select l.*,cu.uid,cu.username,cu.realname from loan l,customer cu
		<where>
			l.uid=cu.uid
			<if test="username!=null and username!='' ">
				and cu.username like #{username}
			</if>
			<if test="ltitle!=null and ltitle!='' ">
				and l.ltitle like #{ltitle}
			</if>
			<if test="lterm!=null and lterm!='' ">
				and l.lterm = #{lterm}
			</if>
			<if test="ltype!=null and ltype!='' ">
				and l.ltype = #{ltype}
			</if>
			<if test="lstate!=null and lstate!='' ">
				and l.lstate = #{lstate}
			</if>
		</where>
		order by l.ltime desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<!-- 查询借款总条数 -->
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from loan l,customer cu
		<where>
			l.uid=cu.uid
			<if test="username!=null and username!='' ">
				and cu.username like #{username}
			</if>
			<if test="ltitle!=null and ltitle!='' ">
				and l.ltitle like #{ltitle}
			</if>
			<if test="lterm!=null and lterm!='' ">
				and l.lterm = #{lterm}
			</if>
			<if test="ltype!=null and ltype!='' ">
				and l.ltype = #{ltype}
			</if>
			<if test="lstate!=null and lstate!='' ">
				and l.lstate = #{lstate}
			</if>
		</where>
	</select>
</mapper>