<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.h.dao.RepaymentMapper">
  <resultMap id="BaseResultMap" type="com.ht.h.bean.Repayment">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="lid" jdbcType="INTEGER" property="lid" />
    <result column="reperiods" jdbcType="INTEGER" property="reperiods" />
    <result column="rexpiretime" jdbcType="TIMESTAMP" property="rexpiretime" />
    <result column="rmoney" jdbcType="DECIMAL" property="rmoney" />
    <result column="rtime" jdbcType="TIMESTAMP" property="rtime" />
    <result column="rtype" jdbcType="VARCHAR" property="rtype" />
    <result column="rstate" jdbcType="VARCHAR" property="rstate" />
  </resultMap>
  
  <resultMap id="queryResultMap" type="com.ht.h.bean.Repayment">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="lid" jdbcType="INTEGER" property="lid" />
    <result column="reperiods" jdbcType="INTEGER" property="reperiods" />
    <result column="rexpiretime" jdbcType="TIMESTAMP" property="rexpiretime" />
    <result column="rmoney" jdbcType="DECIMAL" property="rmoney" />
    <result column="rtime" jdbcType="TIMESTAMP" property="rtime" />
    <result column="rtype" jdbcType="VARCHAR" property="rtype" />
    <result column="rstate" jdbcType="VARCHAR" property="rstate" />
    
    <association property="customer" javaType="com.ht.h.bean.Customer">
	    <result property="uid" column="uid"/>
		<result property="username" column="username"/>
		<result property="realname" column="realname"/>
	</association>
	
	<association property="loan" javaType="com.ht.h.bean.Loan">
	    <result property="lid" column="lid"/>
		<result property="ltitle" column="ltitle"/>
		<result property="lmoney" column="lmoney"/>
	</association>
  </resultMap>
  
   <resultMap id="RepgoCapResultMap" type="com.ht.h.bean.Repayment">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="rmoney" jdbcType="DECIMAL" property="rmoney" />
    <result column="rtime" jdbcType="TIMESTAMP" property="rtime" />
    <result column="rtype" jdbcType="VARCHAR" property="rtype" />
    <result column="rstate" jdbcType="VARCHAR" property="rstate" />
    
    <association property="capital" javaType="com.ht.h.bean.Capital">
	    <result column="cid" property="cid" />
    	<result column="uid" jdbcType="INTEGER" property="uid" />
    	<result column="available" jdbcType="DECIMAL" property="available" />
	</association>
   </resultMap>
  
  <sql id="Rep_Cap_List">
   r.rtime,r.rstate,r.rmoney,r.rtype, c.Available
  </sql>
  
  <sql id="Base_Column_List">
    rid, uid, lid, reperiods, rexpiretime, rmoney, rtime, rtype, rstate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repayment
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from repayment
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.h.bean.Repayment">
    insert into repayment (rid, uid, lid, 
      reperiods, rexpiretime, rmoney, 
      rtime, rtype, rstate
      )
    values (#{rid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{lid,jdbcType=INTEGER}, 
      #{reperiods,jdbcType=INTEGER}, #{rexpiretime,jdbcType=TIMESTAMP}, #{rmoney,jdbcType=DECIMAL}, 
      #{rtime,jdbcType=TIMESTAMP}, #{rtype,jdbcType=VARCHAR}, #{rstate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.h.bean.Repayment">
    insert into repayment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="lid != null">
        lid,
      </if>
      <if test="reperiods != null">
        reperiods,
      </if>
      <if test="rexpiretime != null">
        rexpiretime,
      </if>
      <if test="rmoney != null">
        rmoney,
      </if>
      <if test="rtime != null">
        rtime,
      </if>
      <if test="rtype != null">
        rtype,
      </if>
      <if test="rstate != null">
        rstate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="lid != null">
        #{lid,jdbcType=INTEGER},
      </if>
      <if test="reperiods != null">
        #{reperiods,jdbcType=INTEGER},
      </if>
      <if test="rexpiretime != null">
        #{rexpiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="rmoney != null">
        #{rmoney,jdbcType=DECIMAL},
      </if>
      <if test="rtime != null">
        #{rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rtype != null">
        #{rtype,jdbcType=VARCHAR},
      </if>
      <if test="rstate != null">
        #{rstate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.h.bean.Repayment">
    update repayment
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="lid != null">
        lid = #{lid,jdbcType=INTEGER},
      </if>
      <if test="reperiods != null">
        reperiods = #{reperiods,jdbcType=INTEGER},
      </if>
      <if test="rexpiretime != null">
        rexpiretime = #{rexpiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="rmoney != null">
        rmoney = #{rmoney,jdbcType=DECIMAL},
      </if>
      <if test="rtime != null">
        rtime = #{rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rtype != null">
        rtype = #{rtype,jdbcType=VARCHAR},
      </if>
      <if test="rstate != null">
        rstate = #{rstate,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.h.bean.Repayment">
    update repayment
    set uid = #{uid,jdbcType=INTEGER},
      lid = #{lid,jdbcType=INTEGER},
      reperiods = #{reperiods,jdbcType=INTEGER},
      rexpiretime = #{rexpiretime,jdbcType=TIMESTAMP},
      rmoney = #{rmoney,jdbcType=DECIMAL},
      rtime = #{rtime,jdbcType=TIMESTAMP},
      rtype = #{rtype,jdbcType=VARCHAR},
      rstate = #{rstate,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  
  	<!-- 分页加条件查询 -->
	<select id="queryAll" parameterType="Map" resultMap="queryResultMap">
		select re.*,cu.uid,cu.username,cu.realname,l.lid,l.ltitle,l.lmoney from repayment re,customer cu,loan l
		<where>
			re.uid=cu.uid and re.lid=l.lid
			<if test="username!=null and username!='' ">
				and cu.username like #{username}
			</if>
			<if test="ltitle!=null and ltitle!='' ">
				and l.ltitle like #{ltitle}
			</if>
			<if test="reperiods!=null and reperiods!='' ">
				and re.reperiods = #{reperiods}
			</if>
			<if test="rstate!=null and rstate!='' ">
				and re.rstate = #{rstate}
			</if>
		</where>
		order by re.rtime desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<!-- 查询还款总条数 -->
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from repayment re,customer cu,loan l
		<where>
			re.uid=cu.uid and re.lid=l.lid
			<if test="username!=null and username!='' ">
				and cu.username like #{username}
			</if>
			<if test="ltitle!=null and ltitle!='' ">
				and l.ltitle like #{ltitle}
			</if>
			<if test="reperiods!=null and reperiods!='' ">
				and re.reperiods = #{reperiods}
			</if>
			<if test="rstate!=null and rstate!='' ">
				and re.rstate = #{rstate}
			</if>
		</where>
	</select>
	
	
	   <select id="repaymentQueryAll" parameterType="Map" resultMap="RepgoCapResultMap">
  	select <include refid="Rep_Cap_List" /> 
  		
  	from repayment r, capital c
		<where>
			r.uid=c.uid
			 <if test="uid != null">
      			and  r.uid = #{uid}
     		 </if>
			<if test="rtime!=null and rtime!='' and rtime1!=null and rtime1!=''">
			and r.rtime between #{rtime} and #{rtime1}
		</if>
		</where>
		order by r.rtime desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
  </select>
  
  <select id="RepaymentCount" parameterType="Map" resultType="java.lang.Integer">
		select count(*) from repayment r, capital c
		<where>
			r.uid=c.uid
			 <if test="uid != null">
      			and  r.uid = #{uid}
     		 </if>
			<if test="rtime!=null and rtime1!=null">
			and r.rtime between #{rtime} and #{rtime1}
			</if>
		</where>
	</select>
	
</mapper>