<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.h.dao.WithdrawalsMapper">
  <resultMap id="BaseResultMap" type="com.ht.h.bean.Withdrawals">
    <id column="wid" jdbcType="INTEGER" property="wid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="wnumber" jdbcType="VARCHAR" property="wnumber" />
    <result column="wbank" jdbcType="VARCHAR" property="wbank" />
    <result column="wmoney" jdbcType="DECIMAL" property="wmoney" />
    <result column="wcounterfee" jdbcType="DECIMAL" property="wcounterfee" />
    <result column="wactual" jdbcType="DECIMAL" property="wactual" />
    <result column="wstate" jdbcType="VARCHAR" property="wstate" />
    <result column="wtime" jdbcType="TIMESTAMP" property="wtime" />
    
    <association property="customer" javaType="com.ht.h.bean.Customer"> 
      <result property="uid" column="uid"/> 
    <result property="username" column="username"/> 
    <result property="realname" column="realname"/> 
  </association> 
  </resultMap>
  
   <resultMap id="WitgoCapResultMap" type="com.ht.h.bean.Withdrawals">
  	  <id column="wid" jdbcType="INTEGER" property="wid" />
  	  <result column="uid" jdbcType="INTEGER" property="uid" />
  	  <result column="wbank" jdbcType="VARCHAR" property="wbank" />
  	  <result column="wmoney" jdbcType="DECIMAL" property="wmoney" />
      <result column="wtime" jdbcType="TIMESTAMP" property="wtime" />
    <result column="wstate" jdbcType="VARCHAR" property="wstate" />
      
    <association property="capital" javaType="com.ht.h.bean.Capital">
	    <result column="cid" property="cid" />
    	<result column="uid" jdbcType="INTEGER" property="uid" />
    	<result column="available" jdbcType="DECIMAL" property="available" />
	</association>
    </resultMap>
  <sql id="Base_Column_List">
    wid, uid, wnumber, wbank, wmoney, wcounterfee, wactual, wstate, wtime
  </sql>
  
  <sql id="Cap_Wit_List">
    w.wtime,w.wbank,w.wmoney,w.wstate,c.Available
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from withdrawals
    where wid = #{wid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from withdrawals
    where wid = #{wid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.h.bean.Withdrawals">
    insert into withdrawals (wid, uid, wnumber, 
      wbank, wmoney, wcounterfee, 
      wactual, wstate, wtime
      )
    values (#{wid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{wnumber,jdbcType=VARCHAR}, 
      #{wbank,jdbcType=VARCHAR}, #{wmoney,jdbcType=DECIMAL}, #{wcounterfee,jdbcType=DECIMAL}, 
      #{wactual,jdbcType=DECIMAL}, #{wstate,jdbcType=VARCHAR}, #{wtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.h.bean.Withdrawals">
    insert into withdrawals
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="wnumber != null">
        wnumber,
      </if>
      <if test="wbank != null">
        wbank,
      </if>
      <if test="wmoney != null">
        wmoney,
      </if>
      <if test="wcounterfee != null">
        wcounterfee,
      </if>
      <if test="wactual != null">
        wactual,
      </if>
      <if test="wstate != null">
        wstate,
      </if>
      <if test="wtime != null">
        wtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="wnumber != null">
        #{wnumber,jdbcType=VARCHAR},
      </if>
      <if test="wbank != null">
        #{wbank,jdbcType=VARCHAR},
      </if>
      <if test="wmoney != null">
        #{wmoney,jdbcType=DECIMAL},
      </if>
      <if test="wcounterfee != null">
        #{wcounterfee,jdbcType=DECIMAL},
      </if>
      <if test="wactual != null">
        #{wactual,jdbcType=DECIMAL},
      </if>
      <if test="wstate != null">
        #{wstate,jdbcType=VARCHAR},
      </if>
      <if test="wtime != null">
        #{wtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.h.bean.Withdrawals">
    update withdrawals
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="wnumber != null">
        wnumber = #{wnumber,jdbcType=VARCHAR},
      </if>
      <if test="wbank != null">
        wbank = #{wbank,jdbcType=VARCHAR},
      </if>
      <if test="wmoney != null">
        wmoney = #{wmoney,jdbcType=DECIMAL},
      </if>
      <if test="wcounterfee != null">
        wcounterfee = #{wcounterfee,jdbcType=DECIMAL},
      </if>
      <if test="wactual != null">
        wactual = #{wactual,jdbcType=DECIMAL},
      </if>
      <if test="wstate != null">
        wstate = #{wstate,jdbcType=VARCHAR},
      </if>
      <if test="wtime != null">
        wtime = #{wtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wid = #{wid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.h.bean.Withdrawals">
    update withdrawals
    set uid = #{uid,jdbcType=INTEGER},
      wnumber = #{wnumber,jdbcType=VARCHAR},
      wbank = #{wbank,jdbcType=VARCHAR},
      wmoney = #{wmoney,jdbcType=DECIMAL},
      wcounterfee = #{wcounterfee,jdbcType=DECIMAL},
      wactual = #{wactual,jdbcType=DECIMAL},
      wstate = #{wstate,jdbcType=VARCHAR},
      wtime = #{wtime,jdbcType=TIMESTAMP}
    where wid = #{wid,jdbcType=INTEGER}
  </update>
  
  <!-- 分页加条件查询 --> 
  <select id="selectWithdrawals" parameterType="Map" resultMap="BaseResultMap"> 
    select w.*,cu.uid,cu.username,cu.realname from withdrawals w,customer cu 
    <where> 
      w.uid=cu.uid 
      <if test="username!=null and username!='' "> 
        and cu.username like #{username} 
      </if> 
      <if test="wnumber!=null and wnumber!='' "> 
        and w.wnumber like #{wnumber} 
      </if> 
      <if test="wbank!=null and wbank!='' "> 
        and w.wbank like #{wbank} 
      </if> 
      <if test="wstate!=null and wstate!='' "> 
        and w.wstate like #{wstate} 
      </if> 
    </where> 
    order by w.wtime desc 
    <if test="start!=null and size!=null"> 
      limit #{start},#{size} 
    </if> 
  </select> 
   
  <!-- 查询收入总条数 --> 
  <select id="getTotal" parameterType="Map" resultType="Long"> 
    select count(*) from withdrawals w,customer cu 
    <where> 
      w.uid=cu.uid 
      <if test="username!=null and username!='' "> 
        and cu.username like #{username} 
      </if> 
      <if test="wnumber!=null and wnumber!='' "> 
        and w.wnumber like #{wnumber} 
      </if> 
      <if test="wbank!=null and wbank!='' "> 
        and w.wbank like #{wbank} 
      </if> 
      <if test="wstate!=null and wstate!='' "> 
        and w.wstate like #{wstate} 
      </if> 
    </where> 
  </select> 
  
  <update id="updateState" parameterType="com.ht.h.bean.Withdrawals">
    update withdrawals set wstate = #{wstate,jdbcType=VARCHAR} where wid = #{wid,jdbcType=INTEGER}
  </update>
  
  
    <select id="withdrawalsQueryAll" parameterType="Map" resultMap="WitgoCapResultMap">
  	select <include refid="Cap_Wit_List" /> 
  		
  	from withdrawals w, capital c
		<where>
			w.uid=c.uid
			<if test="uid != null">
				and w.uid = #{uid}
			</if>
			<if test="wtime!=null and wtime!='' and wtime1!=null and wtime1!=''">
				and w.rtime between #{wtime} and #{wtime1}
			</if>
			
		</where>
		order by w.wtime desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
  </select>
  
  <select id="withdrawalsCount" parameterType="Map" resultType="java.lang.Integer">
		select count(*) from withdrawals w, capital c
		<where>
			w.uid=c.uid
			<if test="uid != null">
				and w.uid = #{uid}
			</if>
			<if test="wtime!=null and wtime1!=null">
				and w.wtime between #{wtime} and #{wtime1}
			</if>
		</where>
	</select>
  
</mapper>